force-app/main/default/flows/Loan_Request_Flow_Fault_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>ASG_Sanitize_Message</name>
        <label>Sanitize Fault Message</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varSanitizedMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmSanitizedMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CRT_Application_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Swallow_Error_Insert_Fault</name>
        <label>Swallow Error Insert Fault</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varSanitizedMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSanitizedMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>F2: Shared fault handler for loan status Flow. Creates a sanitized Application_Error__c row. Does not recursively call itself if error insert fails. Parent Flow decides whether to fail the interview via inFailParent.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmSanitizedMessage</name>
        <dataType>String</dataType>
        <expression>LEFT(
  &quot;Flow=&quot; &amp; {!inSourceFlowApiName} &amp;
  &quot;; Element=&quot; &amp; {!inFaultElementName} &amp;
  &quot;; Interview=&quot; &amp; {!inInterviewGuid} &amp;
  &quot;; &quot; &amp; {!inFaultMessage},
  4000
)</expression>
    </formulas>
    <interviewLabel>Loan Request Flow Fault Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Request Flow Fault Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CRT_Application_Error</name>
        <label>Create Application Error</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <faultConnector>
            <targetReference>ASG_Swallow_Error_Insert_Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AttemptCount__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>inCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorrelationId__c</field>
            <value>
                <elementReference>inCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>inCustomerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRetryable__c</field>
            <value>
                <elementReference>inIsRetryable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanRequest__c</field>
            <value>
                <elementReference>inLoanRequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OccurredAt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operation__c</field>
            <value>
                <elementReference>inFaultElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResolutionStatus__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SanitizedMessage__c</field>
            <value>
                <elementReference>varSanitizedMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceComponent__c</field>
            <value>
                <elementReference>inSourceFlowApiName</elementReference>
            </value>
        </inputAssignments>
        <object>Application_Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ASG_Sanitize_Message</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Flow Fault</stringValue>
        </value>
    </variables>
    <variables>
        <name>inCorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inFailParent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inFaultElementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inInterviewGuid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inIsRetryable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inLoanRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inSourceFlowApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Loan_Request_Status_Changed</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSanitizedMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
