force-app/main/default/flows/Loan_Request_Status_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_Notify_Manager</name>
        <label>Notify Manager</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>CRT_High_Value_Status_Audit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASG_Fault_Notify</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ttNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ttNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>ASG_Add_Recipient</name>
        <label>Add Recipient Id</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>colRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varManagerRecipientId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACT_Notify_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Apply_Settings</name>
        <label>Apply Settings</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varHighValueThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOutHighValueThreshold</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varManagerNotificationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOutManagerNotificationType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultManagerUsername</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOutDefaultManagerUsername</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDefaultQueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varOutDefaultQueueDeveloperName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Customer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Customer_Context</name>
        <label>Capture Customer Snapshot</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCustomerNameSnapshot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Customer.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Loan_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Audit</name>
        <label>Fault Context Audit</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRT_High_Value_Status_Audit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow Fault</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Customer_Active</name>
        <label>Fault Context Customer Active</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UPD_Customer_Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow Fault</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Customer_Review</name>
        <label>Fault Context Customer Review</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UPD_Customer_Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow Fault</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Notify</name>
        <label>Fault Context Notify</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACT_Notify_Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Notify_Type</name>
        <label>Fault Context Notification Type</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET_Notification_Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Custom notification type not found for configured developer name.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Recipient</name>
        <label>Fault Context Recipient Unresolved</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolve_Manager_Recipient</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manager recipient unresolved; skipping custom notification and continuing to high-value audit.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Settings</name>
        <label>Fault Context Settings Missing</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUB_Resolve_Settings</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank_CRM_Settings.Default was not found. Failing closed per production policy.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow Fault</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Init_Context</name>
        <label>Init Context</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varLoanRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCorrelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmCorrelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Resolve_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Mark_High_Value</name>
        <label>Mark High Value</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>varIsHighValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_RM_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Set_Recipient_Queue</name>
        <label>Set Recipient Queue</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varManagerRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Default_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Set_Recipient_RM</name>
        <label>Set Recipient Relationship Manager</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varManagerRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_RM_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Notification_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Set_Recipient_Username</name>
        <label>Set Recipient Default Manager</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varManagerRecipientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Default_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Notification_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_After_Fault</name>
        <label>Fail Parent Interview?</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>CRT_High_Value_Status_Audit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue To Audit</defaultConnectorLabel>
        <rules>
            <name>Fail_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFailParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRT_Fail_Interview_After_Fault</targetReference>
            </connector>
            <label>Fail Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Default_Manager_Found</name>
        <label>Default Manager Found?</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>DEC_Queue_Configured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Default_Manager_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Default_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASG_Set_Recipient_Username</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_High_Value_Amount</name>
        <label>Amount Above Threshold?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>At Or Below Threshold</defaultConnectorLabel>
        <rules>
            <name>Above_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varHighValueThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASG_Mark_High_Value</targetReference>
            </connector>
            <label>Above Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Loan_Status</name>
        <label>New Loan Status</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>DEC_High_Value_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_Customer_Active</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_Customer_Review</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Notification_Type_Found</name>
        <label>Notification Type Found?</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>ASG_Fault_Notify_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Notification_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Notification_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASG_Add_Recipient</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Queue_Configured</name>
        <label>Default Queue Configured?</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>ASG_Fault_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Configured</defaultConnectorLabel>
        <rules>
            <name>Queue_Configured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDefaultQueueDeveloperName</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Default_Queue</targetReference>
            </connector>
            <label>Configured</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Queue_Found</name>
        <label>Default Queue Found?</label>
        <locationX>974</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>ASG_Fault_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Default_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASG_Set_Recipient_Queue</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_RM_Active</name>
        <label>Relationship Manager Active?</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>DEC_Username_Configured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactive Or Missing</defaultConnectorLabel>
        <rules>
            <name>RM_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_RM_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASG_Set_Recipient_RM</targetReference>
            </connector>
            <label>Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_RM_Present</name>
        <label>Relationship Manager Present?</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>DEC_Username_Configured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>RM_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Customer.RelationshipManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RM_User</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Settings_OK</name>
        <label>Settings Resolved?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ASG_Fault_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Settings_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varOutSettingsMissing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASG_Apply_Settings</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Username_Configured</name>
        <label>Default Manager Username Configured?</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>DEC_Queue_Configured</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank</defaultConnectorLabel>
        <rules>
            <name>Username_Configured</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDefaultManagerUsername</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Default_Manager</targetReference>
            </connector>
            <label>Configured</label>
        </rules>
    </decisions>
    <description>F1 Part C: After-save on LoanRequest__c status change. Updates customer status on Approve/Reject; on high-value status changes sends manager custom notification and creates HIGH_VALUE_STATUS_REVIEW audit. Does not create Tasks or STATUS_CHANGED audits (Apex-owned). Deployed inactive until Flow tests pass.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmCorrelationId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Id} &amp; &quot;-&quot; &amp; SUBSTITUTE(SUBSTITUTE(TEXT({!$Flow.CurrentDateTime}), &quot; &quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), 64)</expression>
    </formulas>
    <interviewLabel>Loan Request Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Request Status Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CRT_Fail_Interview_After_Fault</name>
        <label>Fail Interview After Mandatory Fault</label>
        <locationX>1370</locationX>
        <locationY>1622</locationY>
        <inputAssignments>
            <field>CorrelationId__c</field>
            <value>
                <elementReference>varCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRT_High_Value_Status_Audit</name>
        <label>Create High Value Status Review Audit</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <faultConnector>
            <targetReference>ASG_Fault_Audit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActorUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorrelationId__c</field>
            <value>
                <elementReference>varCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>varCustomerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerNameSnapshot__c</field>
            <value>
                <elementReference>varCustomerNameSnapshot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <stringValue>High-value loan status changed; manager notification path attempted.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <stringValue>HIGH_VALUE_STATUS_REVIEW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanAmountSnapshot__c</field>
            <value>
                <elementReference>$Record.LoanAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanRequest__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewValue__c</field>
            <value>
                <elementReference>$Record.LoanStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OccurredAt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldValue__c</field>
            <value>
                <elementReference>$Record__Prior.LoanStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Customer</name>
        <label>Get Customer</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASG_Customer_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RelationshipManager__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>IsActive__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Default_Manager</name>
        <label>Get Default Manager User</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Default_Manager_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDefaultManagerUsername</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Default_Queue</name>
        <label>Get Default Manager Queue</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDefaultQueueDeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Type</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Notification_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varManagerNotificationType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RM_User</name>
        <label>Get Active Relationship Manager</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_RM_Active</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_Customer.RelationshipManager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD_Customer_Active</name>
        <label>Update Customer Active</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>DEC_High_Value_Amount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASG_Fault_Customer_Active</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_Customer_Review</name>
        <label>Update Customer Requires Review</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>DEC_High_Value_Amount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASG_Fault_Customer_Review</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCustomerId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requires Additional Review</stringValue>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ASG_Init_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LoanRequest__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>SUB_Fault_Handler</name>
        <label>Loan Request Flow Fault Handler</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>DEC_After_Fault</targetReference>
        </connector>
        <flowName>Loan_Request_Flow_Fault_Handler</flowName>
        <inputAssignments>
            <name>inLoanRequestId</name>
            <value>
                <elementReference>varLoanRequestId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCustomerId</name>
            <value>
                <elementReference>varCustomerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference>varCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFaultElementName</name>
            <value>
                <elementReference>varFaultElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFaultMessage</name>
            <value>
                <elementReference>varFaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inSourceFlowApiName</name>
            <value>
                <stringValue>Loan_Request_Status_Changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCategory</name>
            <value>
                <elementReference>varFaultCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inIsRetryable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFailParent</name>
            <value>
                <elementReference>varFailParent</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_Resolve_Settings</name>
        <label>Resolve Bank CRM Settings</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>DEC_Settings_OK</targetReference>
        </connector>
        <flowName>Resolve_Bank_CRM_Settings</flowName>
        <outputAssignments>
            <assignToReference>varOutHighValueThreshold</assignToReference>
            <name>outHighValueThreshold</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOutManagerNotificationType</assignToReference>
            <name>outManagerNotificationType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOutDefaultManagerUsername</assignToReference>
            <name>outDefaultManagerUsername</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOutDefaultQueueDeveloperName</assignToReference>
            <name>outDefaultQueueDeveloperName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOutSettingsMissing</assignToReference>
            <name>outSettingsMissing</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ttNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>High-value loan {!$Record.Name} changed status to {!$Record.LoanStatus__c}. Amount: {!$Record.LoanAmount__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>ttNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.Bank_CRM_Notification_Title}</text>
    </textTemplates>
    <variables>
        <name>colRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerNameSnapshot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultManagerUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDefaultQueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFailParent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFaultCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Flow Fault</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFaultElementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHighValueThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>250000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varIsHighValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varLoanRequestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varManagerNotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varManagerRecipientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutDefaultManagerUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutDefaultQueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutHighValueThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varOutManagerNotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOutSettingsMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
