force-app/main/default/flows/Loan_Request_Status_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_Notify_Manager</name>
        <label>Notify Manager</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>CRT_High_Value_Status_Audit</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASG_Fault_Ctx_Notify</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>GET_Notification_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>colRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>ttNotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ttNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>ACT_Resolve_Notification_Recipient</name>
        <label>Resolve Notification Recipient</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <actionName>ManagerNotificationRecipientInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DEC_Recipient_Resolved</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASG_Fault_Ctx_Recipient</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customerId</name>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ManagerNotificationRecipientInvocable</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>ASG_Add_Recipient</name>
        <label>Add Recipient Id</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>colRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ACT_Resolve_Notification_Recipient.recipientUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ACT_Notify_Manager</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Customer_Context</name>
        <label>Capture Customer Snapshot</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varCustomerNameSnapshot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Customer.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_Loan_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Ctx_Audit</name>
        <label>Fault Context Audit</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRT_High_Value_Status_Audit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASG_Fault_Mandatory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Ctx_Customer_Active</name>
        <label>Fault Context Customer Active</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UPD_Customer_Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASG_Fault_Mandatory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Ctx_Customer_Review</name>
        <label>Fault Context Customer Review</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UPD_Customer_Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASG_Fault_Mandatory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Ctx_Notify</name>
        <label>Fault Context Notify</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACT_Notify_Manager</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASG_Fault_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Ctx_Notify_Type</name>
        <label>Fault Context Notification Type</label>
        <locationX>1106</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GET_Notification_Type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Custom notification type not found for configured developer name.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASG_Fault_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Ctx_Recipient</name>
        <label>Fault Context Recipient Unresolved</label>
        <locationX>1370</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACT_Resolve_Notification_Recipient</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmRecipientUnresolvedMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASG_Fault_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Ctx_Settings</name>
        <label>Fault Context Settings Missing</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varFaultElementName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUB_Resolve_Settings</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank_CRM_Settings.Default was not found. Failing closed per production policy.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASG_Fault_Mandatory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Mandatory</name>
        <label>Apply Mandatory Fault Policy</label>
        <locationX>1106</locationX>
        <locationY>1350</locationY>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow Fault</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASG_Fault_Notification</name>
        <label>Apply Notification Fault Policy</label>
        <locationX>1238</locationX>
        <locationY>1350</locationY>
        <assignmentItems>
            <assignToReference>varFaultCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Notification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFailParent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUB_Fault_Handler</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_After_Fault</name>
        <label>Fail Parent Interview?</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>CRT_High_Value_Status_Audit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue To Audit</defaultConnectorLabel>
        <rules>
            <name>Fail_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFailParent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRT_Fail_Interview_After_Fault</targetReference>
            </connector>
            <label>Fail Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_High_Value_Amount</name>
        <label>Amount Above Threshold?</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>At Or Below Threshold</defaultConnectorLabel>
        <rules>
            <name>Above_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>varHighValueThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACT_Resolve_Notification_Recipient</targetReference>
            </connector>
            <label>Above Threshold</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Loan_Status</name>
        <label>New Loan Status</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>DEC_High_Value_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Statuses</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_Customer_Active</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_Customer_Review</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Notification_Type_Found</name>
        <label>Notification Type Found?</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>ASG_Fault_Ctx_Notify_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Notification_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Notification_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASG_Add_Recipient</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Recipient_Resolved</name>
        <label>Notification Recipient Resolved?</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>ASG_Fault_Ctx_Recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unresolved</defaultConnectorLabel>
        <rules>
            <name>Recipient_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACT_Resolve_Notification_Recipient.isResolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Notification_Type</targetReference>
            </connector>
            <label>Resolved</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Settings_OK</name>
        <label>Settings Resolved?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ASG_Fault_Ctx_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Settings_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSettingsMissing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Customer</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <description>F1 Part C: After-save on LoanRequest__c status change. Updates customer status on Approve/Reject; on high-value status changes resolves a User recipient via ManagerNotificationRecipientInvocable, sends manager custom notification, and creates HIGH_VALUE_STATUS_REVIEW audit. Does not create Tasks or STATUS_CHANGED audits (Apex-owned). Deployed inactive until Flow tests pass.</description>
    <environments>Default</environments>
    <formulas>
        <name>frmCorrelationId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Id} &amp; &quot;-&quot; &amp; SUBSTITUTE(SUBSTITUTE(TEXT({!$Flow.CurrentDateTime}), &quot; &quot;, &quot;&quot;), &quot;:&quot;, &quot;&quot;), 64)</expression>
    </formulas>
    <formulas>
        <name>frmRecipientUnresolvedMessage</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!ACT_Resolve_Notification_Recipient.failureReason}),
  &quot;Manager recipient unresolved; skipping custom notification and continuing to high-value audit.&quot;,
  {!ACT_Resolve_Notification_Recipient.failureReason}
)</expression>
    </formulas>
    <interviewLabel>Loan Request Status Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Request Status Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CRT_Fail_Interview_After_Fault</name>
        <label>Fail Interview After Mandatory Fault</label>
        <locationX>1370</locationX>
        <locationY>1622</locationY>
        <inputAssignments>
            <field>CorrelationId__c</field>
            <value>
                <elementReference>frmCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CRT_High_Value_Status_Audit</name>
        <label>Create High Value Status Review Audit</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <faultConnector>
            <targetReference>ASG_Fault_Ctx_Audit</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActorUser__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CorrelationId__c</field>
            <value>
                <elementReference>frmCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerNameSnapshot__c</field>
            <value>
                <elementReference>varCustomerNameSnapshot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <stringValue>High-value loan status changed; manager notification path attempted.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EventType__c</field>
            <value>
                <stringValue>HIGH_VALUE_STATUS_REVIEW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanAmountSnapshot__c</field>
            <value>
                <elementReference>$Record.LoanAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LoanRequest__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewValue__c</field>
            <value>
                <elementReference>$Record.LoanStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OccurredAt__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OldValue__c</field>
            <value>
                <elementReference>$Record__Prior.LoanStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <object>Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GET_Customer</name>
        <label>Get Customer</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ASG_Customer_Context</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RelationshipManager__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>IsActive__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Notification_Type</name>
        <label>Get Custom Notification Type</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Notification_Type_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varManagerNotificationType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UPD_Customer_Active</name>
        <label>Update Customer Active</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>DEC_High_Value_Amount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASG_Fault_Ctx_Customer_Active</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UPD_Customer_Review</name>
        <label>Update Customer Requires Review</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>DEC_High_Value_Amount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ASG_Fault_Ctx_Customer_Review</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requires Additional Review</stringValue>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SUB_Resolve_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Customer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>LoanRequest__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>SUB_Fault_Handler</name>
        <label>Loan Request Flow Fault Handler</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>DEC_After_Fault</targetReference>
        </connector>
        <flowName>Loan_Request_Flow_Fault_Handler</flowName>
        <inputAssignments>
            <name>inLoanRequestId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCustomerId</name>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCorrelationId</name>
            <value>
                <elementReference>frmCorrelationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFaultElementName</name>
            <value>
                <elementReference>varFaultElementName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFaultMessage</name>
            <value>
                <elementReference>varFaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inSourceFlowApiName</name>
            <value>
                <stringValue>Loan_Request_Status_Changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inInterviewGuid</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inCategory</name>
            <value>
                <elementReference>varFaultCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inIsRetryable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inFailParent</name>
            <value>
                <elementReference>varFailParent</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SUB_Resolve_Settings</name>
        <label>Resolve Bank CRM Settings</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>DEC_Settings_OK</targetReference>
        </connector>
        <flowName>Resolve_Bank_CRM_Settings</flowName>
        <outputAssignments>
            <assignToReference>varHighValueThreshold</assignToReference>
            <name>outHighValueThreshold</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varManagerNotificationType</assignToReference>
            <name>outManagerNotificationType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSettingsMissing</assignToReference>
            <name>outSettingsMissing</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>ttNotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>High-value loan {!$Record.Name} changed status to {!$Record.LoanStatus__c}. Amount: {!$Record.LoanAmount__c}.</text>
    </textTemplates>
    <textTemplates>
        <name>ttNotificationTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.Bank_CRM_Notification_Title}</text>
    </textTemplates>
    <variables>
        <name>colRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerNameSnapshot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFailParent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varFaultCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Flow Fault</stringValue>
        </value>
    </variables>
    <variables>
        <name>varFaultElementName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHighValueThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>250000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varManagerNotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSettingsMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
