force-app/main/default/flows/Resolve_Bank_CRM_Settings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>ASG_Apply_Defaults_Missing</name>
        <label>Apply Safe Defaults When Missing</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outSettingsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outHighValueThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>250000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outManagerNotificationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High_Value_Loan_Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outDefaultManagerUsername</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outDefaultQueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank_CRM_Default_Manager</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>ASG_Apply_Settings</name>
        <label>Apply Settings Outputs</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>outSettingsMissing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outHighValueThreshold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Bank_CRM_Settings.HighValueThreshold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outManagerNotificationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Bank_CRM_Settings.ManagerNotificationType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outDefaultManagerUsername</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Bank_CRM_Settings.DefaultManagerUsername__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outDefaultQueueDeveloperName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_Bank_CRM_Settings.DefaultQueueDeveloperName__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DEC_Settings_Found</name>
        <label>Settings Found?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ASG_Apply_Defaults_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Settings_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Bank_CRM_Settings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASG_Apply_Settings</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>F3: Loads Bank_CRM_Settings.Default threshold, notification type, and manager routing keys for loan status Flow interviews. Missing settings sets outSettingsMissing=true (F1 fail-closed) while still exposing documented safe defaults.</description>
    <environments>Default</environments>
    <interviewLabel>Resolve Bank CRM Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resolve Bank CRM Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_Bank_CRM_Settings</name>
        <label>Get Bank CRM Settings</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_Settings_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bank_CRM_Settings__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>HighValueThreshold__c</queriedFields>
        <queriedFields>ManagerNotificationType__c</queriedFields>
        <queriedFields>DefaultManagerUsername__c</queriedFields>
        <queriedFields>DefaultQueueDeveloperName__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_Bank_CRM_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>outDefaultManagerUsername</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outDefaultQueueDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outHighValueThreshold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>250000.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outManagerNotificationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outSettingsMissing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
